# Basics in Julia

Feel free to run, add comments, modify, and experiment with the examples in this document! When in doubt for something, you can look in the documentation by using the command ? followed by the name of the function you are looking for. The other option is Googling you problem. We always do that when programming, as there are so many possible errors, and the error messages are not always clear. We will probably do that often as well!

To run a cell, click on the cell and press enter.

In [44]:
?typeof # search for the function typeof in the documentation

Base.Meta.ParseError: ParseError:
# Error @ /Users/felixreichel/Desktop/JuliaStuff_24_25/jl_notebook_cell_df34fa98e69747e1a8f8a730347b8e2f_W1sZmlsZQ==.jl:1:1
?typeof # search for the function typeof in the documentation
╙ ── not a unary operator

* Note: # indicates comments. Anything coming after # is ignored by the compiler, and is just there for the reader. You can make comments over multiple lines using #= some comments blablabla =#

In [2]:
# this is a comment over one line

#= this is
a comment
over multiple
lines =#

### Variables, types, and prints

To assign a value to a variable, simply use the operator =.

In [3]:
zipcode = 44000

44000

In [4]:
price = 29.95

29.95

In [5]:
positive = true

true

In [6]:
text = "Hi"

"Hi"

You can assign any type of value to a variable, and Julia will figure out the type of the variable itself.

* Int or Int64 for a number with no decimals

* Float64 for a number with decimals

* Bool for true or false

* String for text in quotation marks

* Ect...

If you change the type of value assigned to a variable, the type of the variable will be updated as well. To see what is the type of a variable, you can use the function `typeof`.

In [7]:
zipcode = 44000 # this is integer
typeof(zipcode)

Int64

In [8]:
price = 29.95 # this is a float
println("price has type ", typeof(price))

price = "29.95" # this is a string
println("price now has type ", typeof(price))

price has type Float64
price now has type String

* Note: use println() to print stuff. Separate each element with a coma. By default, a line a skipped at the end of the line, but you can use \n to skip additional lines. You can use print() if you do not want a line skip at the end.

In [9]:
println("The default way to print stuff")

println("We can also choose to skip \nadditional \n\nlines \n\n\n!!")

print("Or not skip lines ")
print("at all.")

The default way to print stuff
We can also choose to skip
additional

lines


!!
Or not skip lines at all.

There are some special characters in Strings that require special treatment (e.g. \ or $). Simply add a backslash before the special character to get the desired output.

In [10]:
println("Let's try \")

Base.Meta.ParseError: ParseError:
# Error @ /Users/felixreichel/Desktop/JuliaStuff_24_25/jl_notebook_cell_df34fa98e69747e1a8f8a730347b8e2f_X21sZmlsZQ==.jl:1:23
println("Let's try \")
#                     └ ── unterminated string literal

In [11]:
println("Let's try \\")

Let's try \

**Exercise 1**

1. Look up the julia documentation for the `convert` function.

2. Assign the value *24* to a variable named `hours`. Convert `hours` to a float and assign it to variable `hours_float`

3. See what happens when you execute (understand each command and the error when it occurs):
    * `convert(Float64,2)`
    * `convert(Int64,2.0)`
    * `convert(Int64,2.8)`
    * `convert(Int64,round(2.8))`

In [12]:
# Question 1

In [13]:
# Question 2

In [14]:
# Question 3

### Basic math

Here is a list of basic operators for numbers:

In [15]:
a = 8
b = 3

3

In [16]:
# unary minus
c = -a
println("-a is ", c)

-a is -8

In [17]:
# sum
c = a + b
println("The sum of ", a, " and ", b, " is ", c)

The sum of 8 and 3 is 11

In [18]:
# difference
c = a - b
println("The difference between ", a, " and ", b, " is ", c)

The difference between 8 and 3 is 5

In [19]:
# product
c = a * b
println("The product of ", a, " and ", b, " is ", c)

The product of 8 and 3 is 24

In [20]:
# division
c = a / b
println(a, " divided by ", b , " equals ", c)

8 divided by 3 equals 2.6666666666666665

In [21]:
# power
c = b ^ a
println(b, " to the power of ", a, " equals ", c)

3 to the power of 8 equals 6561

In [22]:
# integer division
c = a ÷ b # to make the ÷ symbol, type \div and press Tab
println("The integer divison of ", a, " and ", b, " is ", c)

# Note: look for the function div in the documentation if this does not work

The integer divison of 8 and 3 is 2

In [23]:
# modulus
c = a % b
println(a, " modulo ", b , " equals ", c)

8 modulo 3 equals 2

You can update the variables with the above operator using the operator followed by =

For example:

In [24]:
a = 5
println("a = ", a)

a += 1 # equivalent to a = a + 1
println("a = ", a)

# note a++ does not work in Julia

a = 5
a = 6

In [25]:
a = 3
b = 4
println("a = ", a)
println("b = ", b)

a *= b # equivalent to a = a * b
println("\na = ", a)
println("b = ", b) # b is unchanged

a = 3
b = 4

a = 12
b = 4

In [26]:
# feel free to try some more here

Many math functions are available in Julia. Here are a few examples (if in doubt of what it does exactly, you can always use the documentation):

In [27]:
# absolute value
x = -5.4
abs(x)

5.4

In [28]:
# sign: indicate the sign of a number
x = -5.4
println(sign(x))
println(sign(abs(x)))

-1.0
1.0

In [29]:
# square root
x = 16
sqrt(x)

4.0

In [30]:
# factorial
x = 5
factorial(5)

120

In [31]:
# floor
x = 5.6

println(floor(x))
println(typeof(floor(x)))

println(floor(Int64, x))
println(typeof(floor(Int64, x)))

5.0
Float64
5
Int64

In [32]:
# ceil
x = 5.6

println(ceil(x))
println(typeof(ceil(x)))

println(ceil(Int64, x))
println(typeof(ceil(Int64, x)))

6.0
Float64
6
Int64

**Exercise 2**

The inflation rate is calculated with the following formula that allows to see the percentage of increase or decrease in cost between given years:

$R = \frac{B-A}{A} \times 100$

where 
$A$ is the starting cost
$B$ is the ending cost.

For example, if the price for 1 liter of SP95 in April 2022 is 2.07€ and 1.49€ in April 2021, the inflation rate is:

$R = 38.926174496644286\%$

1. Compute the value of $R$ when $A$ = 1.49€ and $B$ = 2.07€

2. Convert in US dollars the previous value provided in euros (1€ = 1.08USD)

3. Display the rounded result with exactly 2 digits after the decimal point and preceded by the  symbol `$`
    * Note 1: See function `round`
    * Note 2: `$` is a special character in Julia

In [33]:
# Question 1

In [34]:
# Question 2 & 3

**Exercise 3**

The variable `time_in_minutes` is a time given in minutes. Your task is to convert it into hours, minutes, and seconds. Then, display the result.

In [35]:
time_in_minutes = 122.5

# Your code here

122.5

Finaly, similarly to many other programming languages, you can compare numbers / variables using the following operators:

In [36]:
a = 3
b = 3

# equality
println(a, " is equal to ", b, " : ", a == b)

# inequality
println(a, " is different from ", b, " : ", a != b)

# less than
println(a, " is strictly less than ", b, " : ", a < b)

# less than or equal
println(a, " is less or equal to ", b, " : ", a <= b)

# greater than
println(a, " is strictly greater than ", b, " : ", a > b)

# greater than or equal
println(a, " is greater or equal to ", b, " : ", a >= b)

3 is equal to 3 : true
3 is different from 3 : false
3 is strictly less than 3 : false
3 is less or equal to 3 : true
3 is strictly greater than 3 : false
3 is greater or equal to 3 : true

You are not limited to numbers for comparisons!

In [37]:
"Hi" == "everyone"

false

In [38]:
"bip" == "bip"

true

In [39]:
true == false

false

In [40]:
true == "hi"

false

In [41]:
true == 1 # careful, true is equivalent to 1

true

In [42]:
false == 0 # ... and false is equivalent to 0

true

In [43]:
# feel free to experiment more stuff here